<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Inicio - Serviexpress </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <!-- boostrap 4 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">




    </head>
    <body>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('mecanicos') }}">Empleados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">lorem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
            <div>
                <h1 class="title" style="filter: none;">Bienvenidos a Serviexpress</h1>
            </div>
            <div>
                <h4 class="text">
                    Para nosotros, Serviexpress como empresa es muy importante la total satisfacion de nuestros usuarios Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente aspernatur dolorem facilis iure, repellat fugiat recusandae aut doloremque corporis voluptate magnam eius! Voluptate at esse facere in impedit, deserunt assumenda.
                </h4>
            </div>

            <!-- Carrousel-->
            
    </body>
</html>