<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario para tomar horas</title>
    <!-- Enlace a un archivo CSS si es necesario -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <!-- boostrap 4 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('mecanicos') }}">Empleados</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    <div class="container">
     <h1 class="">Reserva de Horas</h1>
        <form action="/procesar" method="post" class="form">

            <div class="form-floating mb-3">
                <input type="name" class="form-control" id="floatingInput" placeholder="Nombre Apellido Apellido">
                <label for="floatingInput">Nombre</label>
              </div>
            
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>

              <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingInput" placeholder="999999999">
                <label for="floatingInput">Telefono</label>
              </div>
            <label for="fecha">Fecha de reserva:</label>
            <input type="date" id="fecha" name="fecha" required><br><br>
            
            <label for="hora">Hora de reserva:</label>
            <input type="time" id="hora" name="hora" required><br><br>
            
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comments</label>
              </div>
            
            <input type="submit" value="Reservar">
        </form>
    </div>
    
</body>
</html>
